<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit delete</title>
  <style>
/* fonts  */
@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}

*{
    margin: 0;
    padding: 0;
}
html{
   background-color: cadetblue;
}
body{
    color: #333;
    font-family: 'Roboto',sans-serif;
    height: 400px;
    width: 25%;
    background-color: white;
    margin: 0 auto;
    font-size: 13px;
    
}

h3{
    font-size: 30px;
    color: #EEBF00;
    padding: 10px;
    border-bottom: 1px solid #afafaf;
    text-align: center;
}

.form{
  margin: 70px auto;
  height: 400px;
  text-align: center;
  
}


.btn {
  
  border: none;
  color: #fff;
  padding: 5px 10px 5px 10px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  font-style: 16px;
  border-radius: 3px;
}

.btn-primary {
  background-color: #008CBA;
}
input{
  margin-top: 25px;
  padding: 5px;
}
.file{
  margin-left: 65px;
}
p{
  margin-top: 10px;
}
a{
  margin-left: 9px;
  font-size: 20px;
  font-weight: bold;
}
a:hover{
  color: red;
}
.alert{
  
  padding: 10px 5px 0 5px;
  font-weight: bold;
  border-radius: 3px;
  width: 70%;
  text-align: center;
  margin: 0 0 0 40px;
  color: forestgreen;
 
}

/*# sourceMappingURL=main.css.map */
</style>
</head>
<body>
