<header class="topbar">
                    <div class="container flex justify-between items-center">
                        
                        <div class="icons">
                            <span class="divider">|</span>
                            <a href="/home"><img src="/icons/facebook.svg" alt=""></a>
                            <a href="/home"><img src="/icons/twitter.svg" alt=""></a>
                            <a href="/home"><img src="/icons/google.svg" alt=""></a>
                            <a href="/home"><img src="/icons/instagram.svg" alt=""></a>
                            
                            <span class="divider">|</span>
                        </div>
                        <div class="auth flex items-center">
                           
                            
                            <span class="divider">|</span>
                            <div>
                                <img src="/icons/user-icon.svg" alt="">
                                <a href="/profile" >Profile</a>
                            </div>
                            
                            <span class="divider">|</span>
                            <img src="/icons/edit.svg" alt="">
                            <a href="/authen/logout"> Logout</a>
                            <span class="divider">|</span>
                           
                        </div>
                    </div>
                </header>

               