<!DOCTYPE html>
<html lang="en">
{{> header }}
<form action="/addpro" method="POST" encType="multipart/form-data">
<div class="form">
 
  <h3>Upload product</h3>
  {{#if msg}} 
    <div class="alert">
      {{msg}}
    </div>
 {{/if}}
  <input type="text" name="name" placeholder="Product">

  <input type="file" class="file" name="sampleFile" accept="image/*" />
  <input type="submit" class="btn btn-primary">
  <p>Back to Products<a href="/avpro">↣</a></p>
</div>
</form>


</body>
</html>